*{
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'PT Sans', sans-serif;
    background-image: url(https://cdn.hipwallpaper.com/m/76/6/eYTXl4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:contain;

    
}

h5{
    color:white;
}


.navbar{
    
    text-decoration: solid;
    text-shadow: #343a40;
}

footer{

   background-image: linear-gradient(#212529, #343a40);
   position: absolute; 
   left: 0 ; right: 0; bottom: 0; 
   height:[footer-height]; 
   border: 2px solid rgb(99, 95, 95);
    
}

.navbar ul li a{
    border-radius: 5px;
    padding: 7px 13px;
    }
    
.navbar ul li a:hover, a.active  {
    background: #a59daa;
    transition: .5s;
    }

    #joinus{
        border-radius: 5px;
        padding: 7px 13px;
        
        
    }

  