


h2, h4{
    color: rgba(255, 255, 255, 0.76);
}

body.home {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'PT Sans', sans-serif;
    background-image:url('/img/background-home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}


body.about {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'PT Sans', sans-serif;

}
body.specialization {
    
    background: #000;
    font-family: 'PT Sans', sans-serif;

}

h5{
    color:white;
}


.navbar{
    
color: white;
}

footer{

background-image: linear-gradient(#212529, #343a40);
position: absolute; 
left: 0 ; right: 0; bottom: 0; 
height:[footer-height]; 
border: 2px solid rgb(99, 95, 95);

}

.navbar ul li a{
border-radius: 5px;
padding: 7px 13px;
}

.navbar ul li a:hover, a.active  {
background: #a59daa;
transition: .5s;
}

#joinus{
    border-radius: 5px;
    padding: 7px 13px;
    
    
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke=' rgba(0, 0, 0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

.navbar-dark .navbar-nav .nav-link {
    color: rgba(253, 253, 249, 0.959);
    font-size: 20px;
    font-weight: bolder;
}




#image1{
    top: 15%;
    left: -25%;
    
    }
    
    #image2{
    
    top: 35%;
    left: 250%;
    
    }

    #img1{
    border: 4px solid rgba(126, 118, 118, 0.42);
    padding: 5px;
    
    }

    #img2{
    border: 4px solid rgba(126, 118, 118, 0.42);
    padding: 5px;
    
    }
    
    p{
        position: absolute;
    border: solid rgba(107, 102, 102, 0.42);
    width: 240px;
    left: 43%;
    top: 25%;
    color: rgba(255, 255, 255, 0.74);
    padding: 5px;
    
    text-align: center;
}
.p2{
    position: absolute;
    border: solid rgba(107, 102, 102, 0.42);
    width: 240px;
    left: 12%;
    top: 53%;
    color: rgba(255, 255, 255, 0.74);
    padding: 5px;
    text-align: center;
}

.about-mid{
    
position: absolute;
top: 10rem;
left: 100%;
margin-left: 15%;
border: 12px solid rgba(107, 102, 102, 0.42);
z-index: 1;
padding: 3em;
text-align: center;
}

#joinus {
    position: relative;
    left: 50rem;
    top: 5rem;
    }

    @media screen and (max-width: 1436px){
    .p2 {
        position: relative;
        bottom: 2rem;
        left: 2rem;
        
        }
    }

@media screen and (max-width: 375px){
#joinus {
    position: relative;
    left: 9rem;
    
    }
}

@media screen and (max-width: 990px){
.about-mid {
    
    left: 180%;
    width: 180%;
}
}
@media screen and (max-width: 990px){
p {
    position: absolute;
    left: 60%;
    top: 25%;
    
}
}
@media screen and (max-width: 990px, 768px,579){
.p2 {
    position: relative;
    left: 10%;
    bottom: 3rem;
    
}
}


@media screen and (max-width: 768px){
.about-mid  {

left: 20%;
width: 180%;
}
}

@media screen and (max-width: 767px){
.about-mid {
left: 13rem;
width: 280%;
}
}
@media screen and (max-width: 540px){
.about-mid {
    
left: 70%;
top: 50%;
width: 200%;
}
}

@media screen and (max-width: 768px){
    p {
        position: absolute;
        left: 65%;
        top: 18%;
        width: 250px;
        height: 100px;
        
    }
    }

@media screen and (max-width: 990px){
#image2{
    
    left: 22rem;
    width: 100%;
}
}

@media screen and (max-width: 579px){
#image2{
    
    left: 10%;
    width: 100%;
}
}
@media screen and (max-width: 376px){
.about-mid {
    position: relative;
    top: 30rem;
    left: 10%;
    width: 220%;
    }
}

@media screen and (max-width: 376px){
.footer{
    position: relative;
    top: 40rem; 

}
}

@media screen and (max-width: 376px){
#image2{
    position: relative;
    top: 140%;
    left: 5%;
    width: 100%;
}
}



@media screen and (max-width: 376px){
#image1{
    position: absolute;
    padding-top: 0;
    margin-top: 0;
    top: 20%;
    left: 10%;
    width: 90%;
}
}

@media screen and (max-width: 850px){
.navbar-toggler{
    
    position: relative;
    top: 40px;
    
    }
}

@media screen and (max-width: 375px){
.navbar-toggler{
    
    right: 20%;

    
    }
}

@media screen and (max-width: 375px){
.navbar {
    position: relative;
    left: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    }
}
@media screen and (max-width: 375px){
p {
    position: relative;
    bottom: 10rem;
    left: 2rem;
    

    }
}




@media screen and (max-width: 375px){
.p2 {
    position: relative;
    top: 12rem;
    left: 2rem;
    
    }
}

.tab-content {
border: 1px solid #DDD;
border-top: none;
padding: 10px;
}


