.jumbotron {
  background-color: transparent;
  color: white; }

p {
  color: rgba(255, 255, 255, 0.76);
  font-size: 20px; }

body.home {
  background: #000;
  font-family: 'PT Sans', sans-serif;
  background-image: url("/img/background-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  body.home footer .container-fluid {
    position: fixed;
    bottom: 0; }

body.about {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'PT Sans', sans-serif; }

body.gallery {
  background: #000;
  font-family: 'PT Sans', sans-serif; }

body.contact {
  background: #000;
  font-family: 'PT Sans', sans-serif; }
  body.contact label {
    color: rgba(255, 255, 255, 0.884); }

body.locations {
  background: #000;
  font-family: 'PT Sans', sans-serif; }
  body.locations span {
    color: rgba(255, 255, 255, 0.884); }
  body.locations .container div {
    border: 2px solid #635f5f;
    padding: 2px; }
  body.locations .container li {
    color: rgba(255, 255, 255, 0.884);
    text-align: center;
    padding: 1px; }
  body.locations .container i {
    padding-left: 50%; }

body.pricepage {
  background: #000;
  font-family: 'PT Sans', sans-serif;
  background-image: url(/img/background-3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  body.pricepage .container {
    display: block; }

body.specialization {
  background: #000;
  font-family: 'PT Sans', sans-serif; }

header h4 {
  color: #000;
  font-weight: bolder; }

h2, h3, h4, h5 {
  color: rgba(255, 255, 255, 0.76); }

.navbar {
  color: white; }
  .navbar li {
    padding: 20px; }
    .navbar li a {
      border-radius: 5px;
      padding: 7px 13px; }
    .navbar li a:hover, .navbar li a.active {
      background: #a59daa;
      transition: .5s;
      text-decoration: underline; }

footer .container-fluid {
  bottom: 0;
  background-image: linear-gradient(#212529, #343a40);
  padding: 20px 40px; }

#joinus {
  border-radius: 10px;
  padding: 10px 50px;
  font-weight: bold; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke=' rgba(255, 255, 255, .9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(253, 253, 249, 0.959);
  font-size: 20px; }

#pricepanel p {
  color: black; }

.tab-content {
  border: 2px solid #635f5f;
  border-top: none;
  padding: 10px; }

.nav-link {
  color: rgba(255, 255, 255, 0.89);
  transition: .5s; }

.nav-link:active {
  background-color: #f8f8f8;
  transition: .5s; }

a, a:hover {
  color: white;
  text-decoration: none; }

.galleryimg {
  border: 2px solid #635f5f; }

@media screen and (max-width: 375px) {
  .nav-item {
    position: relative;
    padding: 2px;
    margin-top: 5px;
    width: 100%;
    border-bottom: none; } }

@media screen and (max-width: 1150px) {
  .navbar li {
    padding: 10px; } }

@media screen and (max-width: 980px) {
  .navbar li {
    padding: 0px; } }

@media screen and (max-width: 768px) {
  .navbar li {
    padding: 0px; } }

@media screen and (max-width: 375px) {
  .tab-content {
    position: relative;
    right: 25%;
    border: 2px solid #635f5f;
    width: 135%; } }

@media screen and (max-width: 375px) {
  #tabContainer {
    position: relative;
    top: 4rem; } }

@media screen and (max-width: 375px) {
  .contact-form {
    display: block; } }

.map-grid {
  border: 2px solid #635f5f;
  width: 70%;
  height: 370px;
  margin-left: 15%; }

iframe {
  width: 100%;
  height: 100%; }

.contact-box {
  border: 2px solid #635f5f;
  width: 15%; }
