body{
    font-family: "Open Sans", sans-serif;
  
    
}

h1, h2, h3{
    font-family: "Lobster", cursive;
}

h2{
    color: #3046C5;
}

header h2{
    color: #7d8597;
}

.site-footer{
    background-image: linear-gradient(#001233, white);  
    padding: 20px 0;
}

.jumbotron{
   
    margin: 0;
    background-image: linear-gradient(to right,#001233,#33415c,#5c677d  ); 
    
    color: white;

}


.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    background-color: #002855;
    
}

.navbar ul li a{
border-radius: 5px;
padding: 7px 13px;
}

.navbar ul li a:hover, a.active  {
    background: #afacb3;
    transition: .5s;
    }
    
#navContainer {
padding: 0px 0px;    
}

/* changing the separator */

/*.breadcrumb-item + .breadcrumb-item::before{
    content: ">";
}*/

.breadcrumb-item+.breadcrumb-item::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);

}


a, a:hover {
    color: inherit;
    text-decoration: none;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #7d8597;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}